# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\DjangoProject\django_practice_project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
